.wrapper {
  background-color: #e9e9e951 !important;
}

/* Standaard stijlen */
.artist-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 20px;
  gap: 20px;
}

.pagination {justify-content: center;}


.buttons {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.artist {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.artist-image {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  height: 100%;
}

.artist-details {
  flex: 1;
  padding: 20px;
}

.artist-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price-range {
  font-size: 18px;
  margin-bottom: 10px;
}

.biography {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-profile {
  display: block;
  width: 120px;
  height: 50px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  border-radius: 13px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.buttons a:hover {
  color: white !important;
}

.events {
  height: max-content;
}

.btn-bookprofile {
  display: block;
  width: 155px;
  height: 50px;
  background-color: #f5168d;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  border-radius: 14px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.btn-profile:hover {
  background-color: #427cc3 !important;
}

.btn-bookprofile:hover {
  background-color: #d13387 !important;
}

.banner {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

hr {
  margin: 0 auto!important;
  width: 80%;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}

.search-bar input[type="text"] {
  width: 200px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  background-color: #e9e9e951;
}

.search-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

/* Media queries voor responsive design */
@media only screen and (max-width: 768px) {
  .artist {
    flex-direction: column;
  }

  .artist-image {
    max-width: 100%;
    height: auto;
  }

  .artist-details {
    padding: 10px;
    text-align: center;
  }

  .artist-name {
    font-size: 20px;
  }

  .price-range {
    font-size: 16px;
  }

  .biography {
    font-size: 14px;
  }

  .buttons {
    display: block;
  }

  .btn-profile {
    width: 250px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 20px;
    margin: 2px;
  }

  .btn-bookprofile {
    width: 250px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 20px;
  }
}