@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

:root {

    /* Color styles */
    --primary: #f5168d;
    --primary-light: #f155a8;
    --dark-brown: #341413;
    --gray-1: #798092;
    --gray-2: #E6E6ED;
    --white: #FFFFFF;

    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;

    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;

    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;

}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.btn {
    padding: 9px 25px;
    border-radius: 6px;
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    border: none;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:focus {
    background-color: var(--primary-light);
}

.btn-primary:hover {
    background-color: var(--primary-light);
}

.btn-primary:active {
    background-color: var(--primary-light) !important;
}

.checked {
    color: #f5168d;
}

.btn-secondary {
    background-color: var(--gray-2);
    color: var(--gray-1);
}

.btn-secondary:focus {
    background-color: var(--white);
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray-1)
}

.btn-secondary:hover {
    background-color: var(--white) !important;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray-1)
}


.navbar-brand img {
    padding-right: 16px;
}

.navbar-brand span {
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    color: var(--dark-brown);
}

.navbar {
    padding: 35px 0;
    margin-right: 100px;
    margin-left: 100px;
}

a.nav-link {
    margin-right: 39px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    color: var(--dark-brown) !important;
}

/* Hero Section */

section.hero {
    margin: 9rem 0;
    padding-left: 150px;
}

.text-label,
.text-hero-bold,
.text-hero-regular {
    margin: 24px 0;
}

.text-label {
    color: var(--primary);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

.text-hero-bold {
    color: var(--dark-brown);
    font-size: var(--header-1);
    font-weight: var(--font-weight-bold);
    line-height: 74px;
}

.text-hero-regular {
    color: var(--gray-1);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

.image-container img {
    border-radius: 5px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
}

.image-container:hover img {
    filter: brightness(80%);
}

.image-container:hover .image-text {
    opacity: 1;
}

.genres {
    background-color: #fdfbfb;
    height: 50%;
}

/* Events */

.events {
    height: auto;
    background: #fff;
    display: flex;
}

.artist-container  {
    display: flex !important;
    flex-wrap: wrap !important;
    padding-top: 20px !important;
    max-width: 60% !important;
    margin: 0 auto !important;
    justify-content: center !important;
    align-items: stretch !important;
    margin-bottom: 20px !important;
    gap: 20px !important;
}

.artist {
    display: flex !important;
    align-items: center !important;
    background-color: #fff !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px !important;
    overflow: hidden !important;
}

.artist-image {
    width: 100% !important;
    max-width: 300px !important;
    object-fit: cover !important;
    height: 100% !important;
}

.artist-details {
    flex: 1 !important; 
    padding: 20px !important;
}

.artist-name {
    font-size: 24px !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
}

.price-range {
    font-size: 18px !important;
    margin-bottom: 10px !important;
}

.biography {
    font-size: 16px !important;
    margin-bottom: 20px !important;
}

/* Pagination */

#pagination a{
    color: #f5168d;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-bottom: 10px;
}

@media (prefers-reduced-motion:reduce) {
    .page-link {
        transition: none
    }
}

.page-link:hover {
    z-index: 2;
    color: #f5168d !important;
    background-color: #e9ecef !important;
    border-color: #dee2e6 !important;
}

.page-link:focus {
    z-index: 3;
    color: #f5168d !important;
    background-color: #e9ecef !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #f5168d !important;
    border-color: #f5168d !important;
}

.page-item.disabled .page-link {
    color: #ad5050 !important;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6
}

.page-link {
    padding: .375rem .75rem
}

.page-item:first-child .page-link {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.pagination-lg .page-link {
    padding: .75rem 1.5rem;
    font-size: 1.25rem
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem
}

.pagination-sm .page-link {
    padding: .25rem .5rem;
    font-size: .875rem
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem
}

/* FAQ Section */

.card-header button:focus {
    outline: none;
  }
  
  .card-body {
    background-color: #f5f5f5;
    padding: 15px;
  }

/* Reviews Section */

#reviews {
    background-color: #f7f7f7;
    padding: 50px 0;
  }
  
  #reviews h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #reviews p {
    font-size: 18px;
    margin-bottom: 50px;
  }
  
  .review {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .review-img {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .review-img img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .review h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .review p {
    font-size: 18px;
  }

@media (max-width: 567px) {

    .navbar {
        padding: 28px;
        margin-right: 100px;
        margin-left: 100px;
    }

    a.nav.link {
        margin-right: 7px 0;
    }

    section.hero {
        margin: 2rem 0;
        text-align: center;
    }

    .btn {
        display: block;
        margin: 1rem 0;
    }

    .ms-3 {
        margin-left: 0 !important;
    }

    .hero img {
        width: 100%;
    }
}



@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #f5168d;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #f5168d;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #f5168d;
}

.footer-icons a{
    padding-top: 7px;
}

.footer-links a:hover {
    color: #f5168d;
}

@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .artist {
      flex-direction: column;
    }
  
    .artist-image {
      max-width: 100%;
      height: auto;
    }
  
    .artist-details {
      padding: 10px;
      text-align: center;
    }
  
    .artist-name {
      font-size: 20px;
    }
  
    .price-range {
      font-size: 16px;
    }
  
    .biography {
      font-size: 14px;
    }
  
    .buttons {
      display: block;
    }
  
    .btn-profile {
      width: 250px;
      height: 40px;
      font-size: 16px;
      line-height: 40px;
      border-radius: 20px;
      margin: 2px;
    }
  
    .btn-bookprofile {
      width: 250px;
      height: 40px;
      font-size: 16px;
      line-height: 40px;
      border-radius: 20px;
    }
  }


