* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.checked {
    color: #f5168d;
}

.container {
    width: 100%;
    min-height: 58vh;
    background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)), url("../imgs/background.png");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    font-size: 50px;
    cursor: pointer;
    text-decoration: none;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;

}

nav ul li a {
    color: #fff;
    text-decoration: none !important;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: #fff;
    font-weight: 500px;
    cursor: pointer;
}

.header {
    display: inline-flex;
    margin-top: 2%;
    color: #fff;
    float: left;
    width: 100%;
    justify-content: flex-start;
    gap: 20%;
}

.header-content {
    width: 60%;
}

.header-content:first-child {
    width: 30%;
}

.header h1 {
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}

.header h1 p {
    font-size: 30px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}

.header form {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.header form input {
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
}

.header form .btn {
    font-size: 15px;
    padding: 10px 30px;
}

.showcase-image {
    aspect-ratio: 1/1;
    padding: 5px;
    height: 100%;
}

.showcase-image img {
    width: 100%;
    border-radius: 4%
}

.video {
    aspect-ratio: 16/9;
    height: 100%;
}

.video img {
    margin-left: 30px;
    width: 86%;
    border-radius: 10px;
    opacity: 0.6;
    color: black;
}

.artist-showcase {
    display: flex;
    margin-top: 10%;
    width: 100%;
    height: 154px;
    gap: 15px;
    padding: 5px;
    justify-content: space-evenly;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 5px;
    color: black;
}

.showcase-info {
    flex-grow: 2;
}

.imgs {
   padding-left: 250px;
}

.imgs img {
    float: left;
    height: 30vh;
    margin: 0px 10px 30px 20px;
    border-radius: 10px;
}

.section-regular {
    float: left;
    width: 100%;
    padding: 40px 5%;
    text-align: center;
}


.arists_button {
    float: right;
    padding-right: 126px;
    padding-top: 104px;
}

.container_artists {
    padding-top: 20px
}

.section {
    height: 500px;
}

.info {
    height: 500px;
    background: #d7d7dd;
}

.other {
    height: 300px;
    background: white;
}


.infotext h2 {
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
}

.sub-menu-wrap {
    position: absolute;
    top: 89%;
    right: 10%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5;
  }
  
  .sub-menu-wrap.open-menu {
    max-height: 400px;
  }
  
  .sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info h2 {
    font-weight: 500;
    padding-left: 20px;
  }
  
  .user-info img {
    width: 60px;
    border-radius: 50%;
  
  }
  
  .sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
  }
  
  .sub-menu-link p {
    width: 100%;
    padding-top: 20px;
  
  }
  
  .sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
  }
  
  .sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
  }
  
  .sub-menu-link:hover span {
    transform: translateX(5px);
  }
  
  .sub-menu-link:hover p {
    font-weight: 600;
  }

  footer {
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #f5168d;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #f5168d;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #f5168d;
}

.footer-links a:hover {
    color: #f5168d;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       